:root {
    --arrow-color: #ffffff;
}

.content01 {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

/* scroll button */
.field {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;
}

.field .caption {
    color: var(--text01);
}

.scroll {
    width: 60px;
    height: 60px;
    position: relative;
    animation: down 1.5s infinite;
}

.scroll::before {
    content: '';
    position: absolute;
    top: 15px;
    left: 50%;
    transform: translate(-50%, 0) rotate(-45deg);
    width: 16px;
    height: 16px;
    border-left: 2px solid var(--arrow-color);
    border-bottom: 2px solid var(--arrow-color);
}

@keyframes down {
    0%, 40% {
        transform: translateY(0);
    }
    20% {
        transform: translateY(15px);
    }
}

.content01 img {
    width: 50%;
    z-index: 50;
}

/* 반응형 스타일링 */
@media screen and (max-width: 768px) {
    .content01 img {
        width: 89.4%;
        height: auto;
    }

    .field {
        bottom: 34px;
    }

    .field .caption {
        font-size: 12px;
    }
}
