/*  Pretendard web font */
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css");

/* 버튼 초기화 */
button,
input[type="button"],
input[type="submit"],
input[type="reset"] {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
    outline: none;
}

:root {
    --black: rgb(23, 23, 23);
    --bg: #f9f9f9;
    --border: 1px solid rgb(220, 220, 220);
    --white: #fff;
    --bar-bg: #212529;
}

/* CSS Reset */
* {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
}

/* 링크 기본 스타일 */
a {
    text-decoration: none;
}

body {
    width: 100%;
    height: 100vh;
    font-family: 'Freesentation';
    background-color: var(--bg);
}

/* 폰트 크기 */
h1 {
    font-size: 4rem; /* 64px */
    font-weight: 400; /* Regular */
    letter-spacing: -0.03em; /* 자간-3% */
    line-height: 1.5; /* 행간 1.5% */
}

h2 {
    font-size: 3rem; /* 48px */
    font-weight: 400;
    letter-spacing: -0.03em;
    line-height: 1.5;
}

h3 {
    font-size: 2.5rem; /* 40px */
    font-weight: 400;
    letter-spacing: -0.03em;
    line-height: 1.5;
}

h4 {
    font-size: 2rem; /* 32px */
    font-weight: 400;
    letter-spacing: -0.05em;
    line-height: 1.5;
}

h5 {
    font-size: 1.75rem; /* 28px */
    font-weight: 400;
    letter-spacing: -0.03em;
    line-height: 1.5;
}

h6 {
    font-size: 1.5rem; /* 24px */
    font-weight: 400;
    letter-spacing: -0.03em;
    line-height: 1.5;
}

p {
    font-size: 1.25rem; /* 20px */
    font-weight: 400;
    letter-spacing: -0.03em;
    line-height: 1.5;
}

.caption
{    
    font-size: 1.125rem; /* 18px */
    font-weight: 400;
    letter-spacing: -0.01em; /* 자간-1% */
    line-height: 1.5;
}

/* -------------------- contetns 01 -------------------- */

#top-container {
    position: absolute; 
    top: 0; 
    left: 50%;
    transform: translateX(-50%);
    width: 100%; 
    height: 540px; 
    display: flex; 
    justify-content: center; 
    z-index: 1; 
    pointer-events: none; 
}

.top-image {
    width: 100%; 
    height: 540px; 
    display: block; 
}

.top-text {
    position: absolute; 
    top: 300px; 
    left: 50%; 
    transform: translateX(-50%); 
    font-family: 'Pretendard', sans-serif; 
    font-weight: bold; 
    font-size: 60px; 
    color: #ffffff; 
    z-index: 2;
    white-space: nowrap; 
}

.top-subtext {
    position: absolute; 
    top: 390px; 
    left: 50%; 
    transform: translateX(-50%); 
    font-family: 'Pretendard', sans-serif; 
    font-weight: regular; 
    font-size: 20px; 
    color: #aaaaaa; 
    z-index: 2; 
    text-align: center; 
    line-height: 36px; 
    white-space: normal; 
    max-width: 590px;
    width: 100%; 
}

.chevron-icon {
    position: absolute;
    top: 490px; 
    left: 50%;
    transform: translateX(-50%);
    font-size: 20px;
    color: #555555;
    z-index: 2;
}

/* -------------------- contetns 02 -------------------- */
.contents-02 {
    background-color: #000000; 
    margin-top: 540px;
    width: 100%; 
    height: auto;
    padding: 100px; 
    text-align: center; 
    display: flex; 
    flex-wrap: wrap;
    justify-content: center; 
}

/* 검색 바 스타일 */
.search-bar {
    position: relative;
    width: 580px; 
    height: 64px;
    border-radius: 50px; 
    background-color: #222222; 
    border: 1px solid #555555; 
    display: flex;
    align-items: center; 
    justify-content: center; 
    margin: 0 auto; 
}


/* 검색 입력창 스타일 */
.search-input {
    flex: 1; 
    height: 100%; 
    border: none;
    background-color: transparent; 
    color: #555555;
    font-size: 20px;
    font-family: 'Pretendard', sans-serif; 
    font-weight: 400;
    outline: none;
    text-align: center; 
}

.search-input::placeholder {
    color: #555555;
}

.search-button {
    margin-right: 24px; 
    font-size: 24px; 
    color: #555555; 
    cursor: pointer;
}

.result-container {
    margin-top: 20px;
    color: #fff; 
    font-size: 18px; 
}

.designer {
    display: flex; 
    flex-wrap: wrap; 
    justify-content: space-between; 
    margin-top: 200px;
    margin-bottom: 300px;
    width: 100%; /* 전체 너비 설정 */
}

.image-container {
    display: flex;
    flex-wrap: wrap; 
    gap: 60px 40px; 
    justify-content: flex-start; 
    margin: 0 auto; 
    max-width: 1200px; /* 전체 컨테이너의 최대 너비 조정 */
    width: 100%; 
}

.image-container img {
    width: 270px; 
    border-radius: 20px; 
    border: 1px solid #555555; 
    overflow: hidden;
}

.image-item {
    position: relative; 
    text-align: center;
    overflow: hidden; 
    width: 21%; 
    border-radius: 20px; 
}

.image-item img {
    width: 100%; 
    height: 100%;
    border-radius: 20px; 
    border: 1px solid #666666; 
    z-index: 2; 
}

.image-item::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 60%, rgba(0, 0, 0, 0.6) 100%);
    pointer-events: none; 
    z-index: 1; 
    border-radius: 20px; 
    transform: translateY(70px); /* 초기 위치 */
    transition: transform 0.5s ease; 
}

.image-caption {
    font-family: 'Pretendard', sans-serif;
    font-size: 24px; 
    color: #ffffff; 
    position: absolute; 
    bottom: 0; 
    left: 50%;
    transform: translate(-50%, 70px); /* 초기 위치 */
    margin-bottom: 30px; 
    padding: 5px; 
    display: flex; 
    justify-content: center; 
    align-items: center;
    width: 100%;
    z-index: 3; 
    transition: transform 0.5s ease; 
}

.image-item:hover::after {
    transform: translateY(0); /* 호버 시 그라데이션 올라오기 */
}

.image-item:hover .image-caption {
    transform: translate(-50%, 0); /* 호버 시 텍스트와 아이콘 올라오기 */
}

.image-caption span {
    flex: 1;
    text-align: center;
}

.image-caption i {
    position: absolute;
    right: 30px; 
    width: 14px; 
}

@media (max-width: 964px) {
    .contents-02 {
        padding: 150px; 
    }

    .image-container {
        gap: 40px 30px; 
    }

    .image-item {
        width: 20%; 
    }

    .image-caption {
        font-size: 16px; 
        margin-bottom: 20px; 
        padding: 0px; 
    }
    
    .image-caption i {
        right: 14px; 
        width: 14px; 
    }
}

/* 중간 기기용 스타일 (태블릿, 768px 이상) */
@media (max-width: 768px) {

    #top-container {
        height: 405px; 
    }

    .top-image {
        height: 405px; 
    }

    .top-text {
        top: 210px; 
        font-size: 40px; 
        white-space: nowrap; 
    }

    .top-subtext br {
        display: none; /* <br> 태그 숨기기 */
    }

    .top-subtext {
        top: 275px; /* .top-text 아래 12px 위치 */
        font-size: 16px; 
        line-height: 29px; 
        font-weight: 400; 
        max-width: 350px;
        width: 100%; 
    }

    .chevron-icon {
        top: 380px; 
    }
    /* -------------------- contetns 02 -------------------- */
    .contents-02 {
        padding: 60px; 
        margin-top: 405px;
    }

    .search-bar {
        width: 335px; 
        height: 40px;
        background-color: rgba(102, 102, 102, 0.2);
    }
    
    .search-input {
        font-size: 16px;
        font-weight: 400;
        margin-left: 18px;
    }

    .search-button {
        margin-right: 18px; 
        font-size: 20px; 
    }

    
    .designer {
        margin-top: 40px;
        margin-bottom: 100px;
    }
    
    .image-container {
        gap: 20px 15px; 
    }
    
    .image-container img {
        /* width: 162px;  */
        border-radius: 10px; 
    }
    
    .image-item {
        width: 47%;
        border-radius: 10px; 
    }
    
    .image-item img {
        border-radius: 10px; 
        border: 1px solid #4F4F4F;
        filter: none; 
    }
    
    .image-item::after {
        position: absolute;
        transform: translateY(0); /* 초기 위치 */
        border-radius: 10px; 
    }
    
    .image-caption {
        position: absolute;
        font-size: 16px; 
        margin-bottom: 20px; 
        transform: translate(-50%, 0); 
        padding: 0px; 
    }
    
    .image-caption i {
        right: 20px; 
        width: 14px; 
    }
}






@media (min-width: 1200px) {
}