section {
    width: 100%;
    height: 100vh;
}

#section01 {
    position: relative;
    background: url(../img/designer/9.png) no-repeat bottom;
    background-size: cover;
}

@media (max-width: 768px) {
    #section01 {
        position: relative;
        background: url(../img/team-member/9.png) no-repeat center;
        background-size: cover;
    }
}